Latihan: Questions and answers

In [1]:
# Input nilai integer
angka = int(input("Masukkan nilai integer: "))

# Gunakan operator relasional untuk mendeteksi >= 100
hasil = angka >= 100

# Cetak hasil
print(f"Output: {hasil}")

Masukkan nilai integer: 100
Output: True

Latihan 1
Memasukan bilangan bulat dan mendeteksi bilangan tersebut genap / ganjil.

In [2]:
bil = int(input("Masukan bilangan bulat: "))

if(bil%2 == 0):
    print("genap")
else:
    print("ganjil")

Masukan bilangan bulat: 8
genap

In [ ]:
print("Masukan nilai koordinat")
x = int(input("Nilai x: "))
y = int(input("Nilai y: "))

if x>0 and y>0:
    print("Koordinat ("+ str(x) + ","+ str(y) +") berada pada Kuadran I" )
elif x<0 and y>0:
    print("Koordinat ("+ str(x) + ","+ str(y) +") berada pada Kuadran II" )
elif x<0 and y<0:
    print("Koordinat ("+ str(x) + ","+ str(y) +") berada pada Kuadran III" )
elif x>0 and y<0:
    print("Koordinat ("+ str(x) + ","+ str(y) +") berada pada Kuadran IV" )
else:
    pass

Latihan 3
Mencari bilangan terbesar, dari 3 inputan (a, b dan c)

In [3]:
num1 = int(input("First Number : "))
num2 = int(input("Second Number : "))
num3 = int(input("Third Number : "))

#set number1 sebagai yang terbesar
largestNum = num1

#deteksi apakah num2 > num1
if num2 > largestNum:
    largestNum = num2

#deteksi apakah num3 > num2
if num3 > largestNum:
    largestNum = num3

print("The largest number is: ", largestNum)

First Number : 20
Second Number : 10
Third Number : 50
The largest number is:  50

atihan
Spathiphyllum, atau yang sering disebut dengan 'peace lily' atau tanaman 'white sail merupakan tanaman dalam rumah yang sangat populer yang dapat menjadi filter guna menyaring udara dari racun. Beberapa racun yang dapat di filter adalah benzena, fomaldehyde, dan amonia.

In [4]:
plant = input("Please input a best plant = ")

if plant == "Spathiphyllum":
    print("Yes - Spathiphyllum is the best plant ever!")
elif plant == "spathiphyllum":
    print("No, I want a big Spathiphyllum!")
else:
    print("Spathiphyllum! Not "+ plant +"!")

Please input a best plant = 20
Spathiphyllum! Not 20!

Latihan
Pada suatu masa terdapat sebuah daratan - daratan dengan susu dan madu, yang dihuni oleh masyarakat yang bahagia dan sejahtera. Masyarakat tersebut membayar pajak, sehingga kebahagiaan mereka memiliki batas. Pajak yang paling penting adalah Personal Income Tax atau disebut PIT yang mana harus dibayarkan tiap tahun, dan dievaluasi dengan peraturan sebagai berikut :

Jika penghasilan tidak lebih besar daripada 85,528 thaler, maka pajak adalah sebesar 18% dari pemasukan dikurangi 556 thaler dan 2 sen (disebut juga tax relief)
Jika penghasilan lebih dari nilai tersebut, maka pajak adalah sebesar 14,839 thaler and 2 cents, ditambah 32% dari selisih penghasilan dengan 85,528 thalers.
Tugas anda adalah membuat tax calculator.

Harus menerima satu masukan : penghasilan
Berikutnya, print pajak yang telah dihitung, nilai dibulatkan penuh ke thaler (tanpa sen). Fungsi round() akan membantu anda untuk membulatkan nilai.
Catatan : Negara yang bahagia ini tidak pernah mengembalikan uang tersebut ke warganya. Jika perhitungan pajak kurang dari nol, itu berarti warga tidak dikenakan pajak sama sekali (pajak = 0).

Perhatikan syntax dibawah ini, hanya membaca satu input dan output sebagai hasilnya. Lengkapi syntax tersebut dengan sebuah perhitungan yang cerdas.

In [5]:
income = float(input("Enter the annual income: "))
tax = 0

if income<85528:
    tax = 0.18 * income - 556.2
else:
    tax = 14839 + 0.2 + 0.32 * (income - 85528)

tax = round(tax, 0)

if tax<0:
    tax = 0

print("The tax is:", tax, "thalers")

Enter the annual income: 20000000
The tax is: 6387470.0 thalers

Struktur perulangan
while kondisi:
    statement1
    statement2
    statement1
    :
    :
    statementn
Pada bentuk perulangan diatas, statement1, statement2 dan seterusnya merupakan sekelompok statement yang akan diulang. Statement tersebut akan terus dieksekusi/ diulang selama kondisi bernilai True. Maka diperlukan sebuah statement yang akan bernilai False, agar proses dapat berhenti. Perhatikan syntax berikut :

In [6]:
i = 1

while i<10:
    print(i**2)
    i = i+2

1
9
25
49
81

Secret Number

In [8]:
secretNum = 777

guessNum = 0

while guessNum != secretNum:
    guessNum = int(input("Input angka rahasia untuk berhenti : "))
    if guessNum != secretNum:
        print("Perulangan akan terus lanjut...")

print("Well done, Congrats...")

Input angka rahasia untuk berhenti : 777
Well done, Congrats...

LATIHAN LATIHAN

In [9]:
x, y, z = 10, 20, 30

print(x != y)  # True
print(y < z)   # True
print((x + z) > y)  # True

True
True
True

In [11]:
nilai = 96

if nilai >= 80:
    print("Nilai A")
elif nilai >= 70:
    print("Nilai B")
elif nilai >= 60:
    print("Nilai C")
else:
    print("Nilai D")

Nilai A

In [12]:
# step 1
beatles = []
print("Step 1:", beatles)

# step 2
beatles.append("John Lennon")
beatles.append("Paul McCartney")
beatles.append("George Harrison")
print("Step 2:", beatles)

# step 3
for i in range(2):
    nama = input("Masukkan anggota baru = ")
    beatles.append(nama)
print("Step 3:", beatles)

# step 4
del beatles[-2:]
print("Step 4:", beatles)

# step 5
beatles.insert(0,"Ringo Starr")
print("Step 5:", beatles)


# testing list legth
print("The Fab", len(beatles))

Step 1: []
Step 2: ['John Lennon', 'Paul McCartney', 'George Harrison']
Masukkan anggota baru = Hilmi
Masukkan anggota baru = Hendra
Step 3: ['John Lennon', 'Paul McCartney', 'George Harrison', 'Hilmi', 'Hendra']
Step 4: ['John Lennon', 'Paul McCartney', 'George Harrison']
Step 5: ['Ringo Starr', 'John Lennon', 'Paul McCartney', 'George Harrison']
The Fab 4