Latihan Variable

In [3]:
# Inisialisasi variabel dengan jumlah apel yang dimiliki
Darjo = 2
Darno = 5
Waginem = 6

# Cetak nama variabel dan jumlah apel mereka dalam 1 baris, dipisahkan dengan koma
print(f"Darjo: {Darjo}, Darno: {Darno}, Waginem: {Waginem}")

# Hitung total apel
totalApel = Darjo + Darno + Waginem
print(f"Total apel: {totalApel}")

# Eksperimen dengan variabel dan operator aritmetika
apelDarjoKali2 = Darjo * 2
apelDarnoBagi2 = Darno / 2
selisihApelDarnoWaginem = Darno - Waginem

# Cetak hasil operasi lainnya
print(f"Apel Darjo dikalikan 2: {apelDarjoKali2}")
print(f"Apel Darno dibagi 2: {apelDarnoBagi2}")
print(f"Selisih apel Darno dan Waginem: {selisihApelDarnoWaginem}")

Darjo: 2, Darno: 5, Waginem: 6
Total apel: 13
Apel Darjo dikalikan 2: 4
Apel Darno dibagi 2: 2.5
Selisih apel Darno dan Waginem: -1

Latihan Variables: a simple converter

In [5]:
kilometer = 12.25
mil = 7.38


miles_to_kilometers = 1 * 1.61
kilometers_to_miles = 1 / 1.61

#koversinya
mil_ke_km = 7.38 * 1.61
km_ke_mil = 12.25 / 1.61


print("1 mil adalah", round(miles_to_kilometers, 2), "kilometer")
print("1 kilometer adalah", round(kilometers_to_miles, 2), "mil")

#hasil untuk konversinya
print(mil, "mil adalah", round(mil_ke_km, 2), "kilometer")
print(kilometer, "kilometer adalah", round(km_ke_mil, 2), "mil")

1 mil adalah 1.61 kilometer
1 kilometer adalah 0.62 mil
7.38 mil adalah 11.88 kilometer
12.25 kilometer adalah 7.61 mil

Latihan: Operator and expressions

In [6]:
x = -1
x = float(x)

# (3x^3) - (2x^2) + 3x - 1
y = (3 * x**3) - (2 * x**2) + (3 * x) - 1

print("y =", y)

y = -9.0

Apa outputnya?

var = 2
var = 3
print(var)

Variabel var pertama kali diberi nilai 2.
Nilai 2 langsung ditimpa oleh nilai baru 3 pada baris berikutnya.
Ketika print(var) dijalankan, yang dicetak adalah nilai terakhir yang diberikan ke variabel var, yaitu 3.

Nama variabel yang ilegal:

101: Variabel tidak boleh dimulai dengan angka.
m 101: Nama variabel tidak boleh mengandung spasi.
Del dan del: del adalah kata kunci (reserved keyword) dalam Python, sehingga tidak bisa digunakan sebagai nama variabel.

In [7]:
a = '1'
b = "1"
print(a + b)

11

In [8]:
a = 6
b = 3
a /= 2 * b
print(a)

1.0

Latihan: mana yang seharusnya menjadi komentar, mana yang tidak

In [11]:
#test           # Ini adalah komentar
print("Hai...") # Ini adalah perintah Python yang valid, bukan komentar
#test1          # Ini adalah komentar
#test2          # Ini adalah komentar

Hai...

Membuat cetak bangun datar persegi dengan replication

In [10]:
print("+" + 10*"-" + "+")
print(("|" + 10*" " + "|\n") * 5, end="")
print("+" + 10*"-" + "+")

+----------+
|          |
|          |
|          |
|          |
|          |
+----------+

Latihan : Simple input and output

In [ ]:
# Masukkan nilai a dalam float
a = float(input("Masukkan nilai a: "))

# Masukkan nilai b dalam float
b = float(input("Masukkan nilai b: "))

# Hitung hasil penambahan disini
penjumlahan = a + b

# Hitung hasil pengurangan disini
pengurangan = a - b

# Hitung hasil perkalian disini
perkalian = a * b

# Hitung hasil pembagian disini
pembagian = a / b if b != 0 else "Tidak dapat membagi dengan nol"

# Cetak hasil operasi
print("\nHasil operasi:")
print(f"Penjumlahan: {penjumlahan}")
print(f"Pengurangan: {pengurangan}")
print(f"Perkalian: {perkalian}")
print(f"Pembagian: {pembagian}")

print("\nYeahhhh")

Latihan: Operators and expressions

In [12]:
import math  # Perlu untuk operasi matematika

# Masukkan nilai x
x = float(input("Masukkan nilai x: "))

# Hitung nilai y berdasarkan rumus tertentu
# Misalnya: y = 1 / math.sqrt(1 + x**2)
y = 1 / math.sqrt(1 + x**2)

# Cetak hasil
print(f"x = {x}")
print(f"y = {y}")

Masukkan nilai x: 3
x = 3.0
y = 0.31622776601683794